<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-green-100 h-screen flex items-center justify-center">
    <div class="bg-white p-16 rounded-lg shadow-md w-1/2">
        <h1 class="text-3xl font-bold text-center text-green-500">Payment Successful!</h1>
        <p class="text-lg text-center mt-4">Your payment has been processed successfully.</p>
        <div class="flex justify-center mt-4">
        <a href="/" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-full sm:w-48 mx-auto"><center>Go Back to Home</center></a>
        </div>
    </div>
</body>
</html>